$a-b-icons: (
  sprite: (
    width: 3010px,
    height: 3010px,
    svgPath: "./svg(UTF8)/a-b-combine-svg.svg"
  ),
   add:
    (
      width: 100px,
      height: 100px,
      backgroundX: 0px,
      backgroundY: 0px
    ),
 add-disabled:
    (
      width: 100px,
      height: 100px,
      backgroundX: -100px,
      backgroundY: -100px
    ),
 add-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -200px,
      backgroundY: -200px
    ),
 add2:
    (
      width: 100px,
      height: 100px,
      backgroundX: -300px,
      backgroundY: -300px
    ),
 add2-disabled:
    (
      width: 100px,
      height: 100px,
      backgroundX: -400px,
      backgroundY: -400px
    ),
 add2-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -500px,
      backgroundY: -500px
    ),
 alert-help:
    (
      width: 100px,
      height: 100px,
      backgroundX: -600px,
      backgroundY: -600px
    ),
 alert-help-disabled:
    (
      width: 100px,
      height: 100px,
      backgroundX: -700px,
      backgroundY: -700px
    ),
 alert-help-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -800px,
      backgroundY: -800px
    ),
 arrow-down:
    (
      width: 100px,
      height: 100px,
      backgroundX: -900px,
      backgroundY: -900px
    ),
 arrow-up:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1000px,
      backgroundY: -1000px
    ),
 arrow_down:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1100px,
      backgroundY: -1100px
    ),
 arrow_down_off:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1200px,
      backgroundY: -1200px
    ),
 arrow_up:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1300px,
      backgroundY: -1300px
    ),
 arrow_up_off:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1400px,
      backgroundY: -1400px
    ),
 ascending:
    (
      width: 10px,
      height: 10px,
      backgroundX: -1500px,
      backgroundY: -1500px
    ),
 att-ref:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1510px,
      backgroundY: -1510px
    ),
 att-ref-disabled:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1610px,
      backgroundY: -1610px
    ),
 att-ref-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1710px,
      backgroundY: -1710px
    ),
 attachment:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1810px,
      backgroundY: -1810px
    ),
 attachment-disabled:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1910px,
      backgroundY: -1910px
    ),
 attachment-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2010px,
      backgroundY: -2010px
    ),
 back:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2110px,
      backgroundY: -2110px
    ),
 back-disabled:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2210px,
      backgroundY: -2210px
    ),
 back-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2310px,
      backgroundY: -2310px
    ),
 blank-file:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2410px,
      backgroundY: -2410px
    ),
 blank-file-disabled:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2510px,
      backgroundY: -2510px
    ),
 blank-file-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2610px,
      backgroundY: -2610px
    ),
 browse:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2710px,
      backgroundY: -2710px
    ),
 browse-disabled:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2810px,
      backgroundY: -2810px
    ),
 browse-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2910px,
      backgroundY: -2910px
    ),
);
