$c-e-icons: (
  sprite: (
    width: 2742px,
    height: 2742px,
    svgPath: "./svg(UTF8)/c-e-combine-svg.svg"
  ),
   common-description-blue:
    (
      width: 100px,
      height: 100px,
      backgroundX: 0px,
      backgroundY: 0px
    ),
 common-description-blue-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -100px,
      backgroundY: -100px
    ),
 common-description-green:
    (
      width: 100px,
      height: 100px,
      backgroundX: -200px,
      backgroundY: -200px
    ),
 common-description-green-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -300px,
      backgroundY: -300px
    ),
 common-description-orange:
    (
      width: 100px,
      height: 100px,
      backgroundX: -400px,
      backgroundY: -400px
    ),
 common-description-orange-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -500px,
      backgroundY: -500px
    ),
 common-description-purple:
    (
      width: 100px,
      height: 100px,
      backgroundX: -600px,
      backgroundY: -600px
    ),
 common-description-purple-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -700px,
      backgroundY: -700px
    ),
 common-description-red:
    (
      width: 100px,
      height: 100px,
      backgroundX: -800px,
      backgroundY: -800px
    ),
 common-description-red-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -900px,
      backgroundY: -900px
    ),
 common-description-teal:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1000px,
      backgroundY: -1000px
    ),
 common-description-teal-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1100px,
      backgroundY: -1100px
    ),
 delete:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1200px,
      backgroundY: -1200px
    ),
 delete-disabled:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1300px,
      backgroundY: -1300px
    ),
 delete-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1400px,
      backgroundY: -1400px
    ),
 delete2:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1500px,
      backgroundY: -1500px
    ),
 delete2-disabled:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1600px,
      backgroundY: -1600px
    ),
 delete2-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1700px,
      backgroundY: -1700px
    ),
 descending:
    (
      width: 10px,
      height: 10px,
      backgroundX: -1800px,
      backgroundY: -1800px
    ),
 down-btn:
    (
      width: 16px,
      height: 16px,
      backgroundX: -1810px,
      backgroundY: -1810px
    ),
 down-btn-disabled:
    (
      width: 16px,
      height: 16px,
      backgroundX: -1826px,
      backgroundY: -1826px
    ),
 down-circle:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1842px,
      backgroundY: -1842px
    ),
 download:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1942px,
      backgroundY: -1942px
    ),
 download-disabled:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2042px,
      backgroundY: -2042px
    ),
 download-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2142px,
      backgroundY: -2142px
    ),
 edit:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2242px,
      backgroundY: -2242px
    ),
 edit-disabled:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2342px,
      backgroundY: -2342px
    ),
 edit-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2442px,
      backgroundY: -2442px
    ),
 error:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2542px,
      backgroundY: -2542px
    ),
 exclamation:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2642px,
      backgroundY: -2642px
    ),
);
