$c-icons: (
  sprite: (
    width: 3020px,
    height: 3050px,
    svgPath: "./svg(UTF8)/c-combine-svg.svg"
  ),
   calculator:
    (
      width: 100px,
      height: 100px,
      backgroundX: 0px,
      backgroundY: 0px
    ),
 calculator-disabled:
    (
      width: 100px,
      height: 100px,
      backgroundX: -100px,
      backgroundY: -100px
    ),
 calculator-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -200px,
      backgroundY: -200px
    ),
 calendar:
    (
      width: 20px,
      height: 50px,
      backgroundX: -300px,
      backgroundY: -300px
    ),
 capture:
    (
      width: 100px,
      height: 100px,
      backgroundX: -320px,
      backgroundY: -350px
    ),
 capture-disabled:
    (
      width: 100px,
      height: 100px,
      backgroundX: -420px,
      backgroundY: -450px
    ),
 capture-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -520px,
      backgroundY: -550px
    ),
 change:
    (
      width: 100px,
      height: 100px,
      backgroundX: -620px,
      backgroundY: -650px
    ),
 change-disabled:
    (
      width: 100px,
      height: 100px,
      backgroundX: -720px,
      backgroundY: -750px
    ),
 change-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -820px,
      backgroundY: -850px
    ),
 check:
    (
      width: 100px,
      height: 100px,
      backgroundX: -920px,
      backgroundY: -950px
    ),
 check-disabled:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1020px,
      backgroundY: -1050px
    ),
 check-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1120px,
      backgroundY: -1150px
    ),
 circle-down:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1220px,
      backgroundY: -1250px
    ),
 circle-down-disabled:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1320px,
      backgroundY: -1350px
    ),
 circle-down-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1420px,
      backgroundY: -1450px
    ),
 circle-up:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1520px,
      backgroundY: -1550px
    ),
 circle-up-disabled:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1620px,
      backgroundY: -1650px
    ),
 circle-up-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1720px,
      backgroundY: -1750px
    ),
 close-window-blue:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1820px,
      backgroundY: -1850px
    ),
 close-window-blue-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -1920px,
      backgroundY: -1950px
    ),
 close-window-green:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2020px,
      backgroundY: -2050px
    ),
 close-window-green-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2120px,
      backgroundY: -2150px
    ),
 close-window-orange:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2220px,
      backgroundY: -2250px
    ),
 close-window-orange-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2320px,
      backgroundY: -2350px
    ),
 close-window-purple:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2420px,
      backgroundY: -2450px
    ),
 close-window-purple-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2520px,
      backgroundY: -2550px
    ),
 close-window-red:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2620px,
      backgroundY: -2650px
    ),
 close-window-red-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2720px,
      backgroundY: -2750px
    ),
 close-window-teal:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2820px,
      backgroundY: -2850px
    ),
 close-window-teal-hover:
    (
      width: 100px,
      height: 100px,
      backgroundX: -2920px,
      backgroundY: -2950px
    ),
);
